@media (min-width: 0px) and (max-width: 770px) {
  body {
    margin: 0 !important;
  }
  body .main {
    margin: 0 !important;
  }
  ul#navigation {
    display: none !important;
  }
  .hamburger_btn {
    display: inline-block !important;
    cursor: pointer;
  }
  .hamburger_wrapper {
    display: block;
  }
  .logo img {
    width: 322px !important;
    height: 164px !important;
  }
  .playlist_prompt {
    float: left !important;
    width: auto !important;
  }
  .tracks_all {
    width: auto !important;
  }
  .formwrapper {
    width: auto !important;
    margin-left: 0 !important;
  }
  input[type="submit"] {
    width: 100% !important;
  }
}
/* 
@media(min-width:321px) and (max-width:480px) {
	ul#navigation {
		display: none;
	}
	.menuToggle {
		display: inline-block;
	}
} */
/* @media(min-width:481px) and (max-width:768px) {
	
} */
@media (min-width: 771px) {
  .hamburger_wrapper {
    height: 0 !important;
  }
}
@media (max-width: 1150px) {
  .js-carousel {
    display: none !important;
  }
  .feedback_carousel {
    display: flex !important;
  }
  .modal-prev {
    display: none !important;
  }
  .modal-next {
    display: none !important;
  }
  .modal-close {
    top: 5px !important;
    right: 10px !important;
  }
  .gal_btn_prev {
    top: 10px !important;
  }
  .gal_btn_next {
    top: 10px !important;
  }
}
